.categories-title {
  font-size: 4rem;
  color: hsl(0, 0%, 93%);
  -webkit-text-stroke: 1px hsla(335, 99%, 50%, 0.5);
  margin-left: 4rem;
}

.container-categories {
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 80%;
  height: auto;
  background-color: hsla(0, 0%, 48%, 0.1);
  padding: 2rem;
  border-radius: 5px;
  justify-self: center;
  justify-content: center;
  margin-bottom: 3rem;
  

  & .categories-ul {
    columns: 2;
    list-style: disc;
    column-gap: 10rem;
    

    & li {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: ease 0.3s;
        width: fit-content;

        & a{
            color: white;
            text-decoration: none;
            transition: ease 0.3s;

            &:hover{
                color: hsl(181, 98%, 56%);
            }
        }

        &:hover{
            color: hsl(335, 100%, 61%);
        }
    }
  }
}

