.drinks-container{
    display: flex;
    height: 100%;
    padding: 1rem;

    & .aside-categories{
        width: 20%;
        margin-right: 2rem;

        & ul{
            list-style: none;
            padding: 0;
        }
    }

    & main{
        flex: 1;
    }

    .modal-drink-name{
        width: 50%;
    }
}