.nav-links li{
    list-style: none;
}

.nav-links a{
    font-family: 'Lucida Sans Regular',  Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;

    &:hover{
        color: hsl(181, 98%, 56%);
    }
}

.header{
    z-index: 1;
}

.nav{
    background-color: black;
    color: white;
    display: flex;
    gap: 10px;
    padding: 1rem;
    position: fixed;
    width: 100%;
}

.search{
    display: block;
    position: absolute;
    border-radius: 10px;
    border: none;
    padding: .5rem 1rem;
    width: 200px;
    right: 7rem;
    margin: 1rem;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    
    &:focus{
        border: 1px solid hsl(327, 100%, 60%);
    }
}

.search-btn{
    display: block;
    position: absolute;
    background-color: hsl(327, 100%, 60%);
    border: 1px solid hsl(327, 100%, 50%);
    border-radius: 10px;
    padding: .5rem;
    font-weight: 500;
    right: 3rem;
    margin: 1rem;
    cursor: pointer;
    color: hsl(0, 0%, 84%);

    &:hover{
        background-color: hsl(327, 78%, 40%);
    }

    &:active{
        background-color: hsl(327, 100%, 60%)
    }
}

.nav-links{
    display: flex;
    gap: 90px;
    justify-content: left;
    width: 50%;
    margin: 1rem;
}