.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 5rem;
  padding: 2rem;
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
  
  overflow-y: hidden;
  background-color: black;
  gap: 2rem;

  
    & .logo {
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      width: fit-content;

      & img {
        width: 5rem;
        height: 100%;
        object-fit: contain;
      }
    }
  
}
